<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="POST" action="{{url_for('login')}}" novalidate>
    {{ form.csrf_token }}
     <p>{{ form.email.label }} <br/>{{ form.email(size=20) }}
      {% for err in form.email.errors: %}
       <span>{{err}}</span>
      {% endfor %}
       </p>
      <br/>
      <p>{{ form.password.label }} <br/>{{ form.password(size=20) }}
      {% for err in form.password.errors: %}
       <span>{{err}}</span>
      {% endfor %}
       </p>
      {{form.submit}}
</form>
</body>
</html>